$--theme-header: --theme-header;
$--theme-border: --theme-border;
$--theme-title: --theme-title;
$--theme-accentpane: --theme-accentpane;
$--theme-bar-meat: --theme-bar-meat;
$--theme-text-color: --theme-text-color;
$--theme-subtext-color: --theme-subtext-color;
$--theme-fadeout-color: --theme-fadeout-color;
$--theme-text-background: --theme-text-background;
$--theme-paper-background: --theme-paper-background;


// Default theme
$theme-lilypad: (
    $--theme-header: #88e6af,
    $--theme-border: #265d5d,
    $--theme-title: #d2eebc,
    $--theme-accentpane: #c9edd1,
    $--theme-bar-meat: #c99f9f,
    $--theme-text-color: #223,
    $--theme-subtext-color: #668,
    $--theme-fadeout-color: #88a,
    $--theme-text-background: #fafefc,
    $--theme-paper-background: #f0fafa
);

$theme-print: (
    $--theme-header: rgb(238, 238, 238),
    $--theme-border: #555555,
    $--theme-title: #c9c9c9,
    $--theme-accentpane: #d8d8d8,
    $--theme-bar-meat: #535353,
    $--theme-text-color: rgb(47, 47, 48),
    $--theme-subtext-color: rgb(141, 141, 141),
    $--theme-fadeout-color: rgb(190, 190, 190),
    $--theme-text-background: #ffffff,
    $--theme-paper-background: #ffffff
);