.sectionCard {
    margin: 0.15in;
    /*padding: 0.15in;*/
    color: #223;
    border-style: dotted;
    border-width: 1pt;
    border-color: #ccccfe;
    border-radius:0.1in;
    background-color: #fefefe;
  
    .sectionText {
        padding: 0.2in;
        font-size: 0.9em;
    }
    
    .sectionHeader {
        display: flex;
        justify-content: space-between;
    }
  
    .title {
        background-color: #eeeefe;
        border-radius: 0.1in 0.1in 0 0;
        padding: 0.1in;
        margin: 0;
    }
  
    .role {
        font-weight: bold;
    }
  
    .company {
        font-size: 1.2em;
    }
  
    .sublist {
        font-size: 0.9em;
        margin: 0;
    }
  
    .time {
         color: #88a;
    }
  }
  