@import 'variables';
@import 'mixins';

.sectionCard {
    margin: 0.15in;
    /*padding: 0.15in;*/
    color: #223;
    border-style: dotted;
    border-width: 1pt;
    border-color: #265d5d;//theme-var($--theme-border);
    border-radius:0.1in;
    background-color: #fafefc; //theme-var($--theme-text-background);
    color: #223; //theme-var($--theme-text-color);
  
    .sectionText {
        padding: 0.2in 0.2in 0 0.2in;
        font-size: 0.9em;
        text-align: justify;
    }

    .sectionText:last-of-type {
        padding-bottom: 0.2in;
    }
    
    .sectionHeader {
        display: flex;
        justify-content: space-between;
    }
  
    .title {
        background-color: #d2eebc; //theme-var($--theme-title);
        border-radius: 0.1in 0.1in 0 0;
        padding: 0.1in;
        margin: 0;
    }
  
    .role {
        font-weight: bold;
    }
  
    .company {
        font-size: 1.2em;
    }
  
    .sublist {
        font-size: 0.95em;
        margin: 0;
        padding-left: 1rem;
    }

    .description {
        text-indent: 1em;
        font-size: 0.8em;
        color: #668; //theme-var($--theme-subtext-color);
        padding: 5pt 1pt;
    }
  
    .time {
         color: #88a; //theme-var($--theme-fadeout-color);
         text-align: right;
    }
  }
  