@import 'variables';
@import 'mixins';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color:  	#88e6af; //theme-var($--theme-header);
    padding: 0.2in 0.5in;
    flex: 0 1 auto;
    border-bottom: 2pt solid #265d5d; //theme-var($--theme-border);
    align-items:center;
    color: #223; //theme-var($--theme-text-color);
    
    .pronouns {
        color: #668; //theme-var($--theme-subtext-color);
        font-size: 0.6em;
    }
  
    .name {
        font-size: 23pt;
    }
    
    .nameTitle p {
        margin: 0px;
    }

    .title {
        font-size: 14pt;
    }
}