.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #e0ccf8;
    padding: 0.2in 0.5in;
    flex: 0 1 auto;
    border-bottom: 2pt solid #9090a6;
  
    .pronouns {
        color: #666;
        font-size: 0.6em;
    }
  
    .name {
        font-size: 23pt;
    }
    
    .nameTitle p {
        margin: 0px;
    }

    .title {
        font-size: 14pt;
    }
}