@import 'variables';
@import 'mixins';

.meter { 
    box-sizing:unset;
    height: 0.8ex;
    position: relative;
    // background: #555;
    border-radius: 2pt;
    // padding: 1pt;
    // box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin: 0.2ex;
    border: 1pt solid #6D636D; //theme-var($--theme-border);

    .progress {
        display: block;
        height: 100%;
        border-top-right-radius: 2pt;
        border-bottom-right-radius: 2pt;
        border-top-left-radius: 1pt;
        border-bottom-left-radius: 1pt;
        background-color: #ED8FC5 ; //theme-var($--theme-bar-meat);
        // background-image: linear-gradient(
        //   /*center bottom,*/
        //   #26525d 37%,
        //   #557850 69%
        // );
        // box-shadow: 
        //   inset 0 2px 9px  rgba(255,255,255,0.3),
        //   inset 0 -2px 6px rgba(0,0,0,0.4);
        position: relative;
        overflow: hidden;
      }
    
    // .progress:after {
    //     content: "";
    //     position: absolute;
    //     top: 0; left: 0; bottom: 0; right: 0;
    //     background-image: linear-gradient(
    //       -45deg, 
    //       rgba(255, 255, 255, .4) 25%, 
    //       transparent 25%, 
    //       transparent 50%, 
    //       rgba(255, 255, 255, .4) 50%, 
    //       rgba(255, 255, 255, .4) 75%, 
    //       transparent 75%, 
    //       transparent
    //     );
    //     z-index: 1;
    //     background-size: 50px 50px;
    //     border-top-right-radius: 2pt;
    //     border-bottom-right-radius: 2pt;
    //     border-top-left-radius: 1pt;
    //     border-bottom-left-radius: 1pt;
    //     overflow: hidden;
    // }
}