.main {
    height: 11in;
    max-width: 8.5in;
    width: 100vw;
    padding: 0;
    margin: 0px auto;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
  
    .contentRight {
      display: flex;
      flex: 1 1 auto;
      height: 100%;
    }
  }