@import 'variables';
@import 'mixins';

.skillPane {
    min-width: 2.5in;
    padding: 0.15in 0.25in 0.15in 0.25in;
    background-color: #C4D0EF; //theme-var($--theme-accentpane);
    height: 100%;
    color: #223; //theme-var($--theme-text-color);

    .skillName {
      font-size: 1.1em;
      margin: 0;
      font-weight: bold;
      padding-bottom: 2pt;
      margin-bottom: 5pt;
      border-bottom: 1pt solid #6D636D; //theme-var($--theme-border);
    }

    .skill {
      font-size: 0.9em;
      font-family: Menlo, Liberation Mono, sans-serif;
      margin-bottom: 3pt;
    }

    .skillRatings {
      margin-bottom: 0.15in;
    }
}