.skillPane {
    min-width: 2.5in;
    padding: 0.15in 0.25in 0.15in 0.25in;
    background-color: #fef;
    height: 100%;

    .skillName {
      font-size: 1.1em;
      margin: 0;
      font-weight: bold;
      padding-bottom: 2pt;
      margin-bottom: 5pt;
      border-bottom: 1px solid #666;
    }

    .skill {
      font-size: 0.9em;
      font-family: Menlo, Liberation Mono, sans-serif;
      margin-bottom: 3pt;
    }

    .skillRatings {
      margin-bottom: 0.15in;
    }
}